// ================================================================================================
// 	File Name: app-invoice.scss
// 	Description: SCC file for app invoice application page.
// 	----------------------------------------------------------------------------------------------
// 	Item Name: Stack - Responsive Admin Theme
// 	Author: PIXINVENT
// 	Author URL: http://www.themeforest.net/user/pixinvent
// ================================================================================================

// Core variables and mixins
@import "../bootstrap/functions";
@import "../bootstrap/mixins";
@import "../bootstrap-extended/mixins";

// Load variable overrides
@import "../core/variables/variables";
@import "../bootstrap/variables";

// Overrides user variable
@import "../core/variables/components-variables";

// datatable checkbox styles
.dt-checkboxes-cell,
.dt-checkboxes-select-all {
  position: relative;

  input {
    &::after,
    &::before {
      border-radius: 0.25rem;
      width: 1rem;
      height: 1rem;
      position: absolute;
      display: block;
      pointer-events: none;
      content: '';
      border: $gray-500 solid 1px;
    }

    &::before {
      background-color: $thumbnail-border-color;
    }
  }

  input:checked {
    &::before {
      color: $white !important;
      border-color: $primary !important;
      background-color:$primary !important;
    }

    &::after {
      background-image: $custom-checkbox-indicator-icon-checked;
      background-size: 8px;
      background-repeat: no-repeat;
      background-position: center;
    }
  }
}

hr {
  margin-top: 0 !important;
}

/************************* invoice list page**************************/

// data table styles
.table th,
.table td {
  border-top: none;
  white-space: nowrap !important;
}
.dt-checkboxes {
  margin-left: 0.5rem;
}


table.dataTable.no-footer {
  border-bottom: none !important;
}

table.dataTable {
  width: 100% !important;
  margin-left: 0px !important;
  margin-right: 0px !important;
}

.dataTables_length label select.custom-select {
  margin-left: 0.5rem ;
  margin-right: 0.5rem;
}
// pagination styles
div.dataTables_wrapper 
div.dataTables_paginate 
.paginate_button {
    white-space: nowrap;
    text-align: center;
}

div.dataTables_wrapper 
div.dataTables_paginate .previous {
  overflow: hidden;
}

/************************* invoice View page**************************/

// invoice calculation styles
.invoice-calculation .title {
  width: 10rem;
}

// invoice address-info and invoice amounts styles
.invoice-adress-info .info-title,
.invoice-total .amount {
  font-weight: 600;
}

// issue date and view date white-spacing styles
.issue-date .no-wrap,
.due-date .no-wrap {
  white-space: nowrap;
}

/************************* invoice edit page**************************/

// date picker input element styles
.pick-a-date {
  max-width: 130px;
}

// payment option border styles
.payment-options {
  border-color: $gray-100 !important;

}


// font weight bold
.font-bold,
.item-price,
.each-cost .cost-value {
  font-weight: 600 !important;
}

.dropdown-sizing {
  width: 20rem;
}

// increase font size of delete element in Repeater styles
.font-size-increase {
  font-size: 1.3rem;
  color: $gray-300;
}

//action button icon size increase styles
.common-size {
  font-size: 1.2rem;
}

//printer friendly styles
@page {
  size: auto;
  margin: 0;
}

@media print {
  .content-header {
    display: none;
  }

  .main-menu {
    display: none;
  }

  body {
    visibility: hidden;
  }

  .printable-content .card-body {
    visibility: visible;
  }

  .action-btns {
    display: none;
  }

  div.app-content.content {
    margin: 0 !important;
  }

  .buy-now {
    display: none;
  }


  .footer {
    display: none;
  }
}