// Core variables and mixins overrides
@import "../bootstrap/functions";

@import "../core/variables/variables";
@import "../bootstrap/variables";
@import "../core/variables/components-variables";


// Active users
.active-users {
  overflow: hidden;
  .dropdown .dropdown-menu {
    transition: none !important;
  }
}

// Vertical timeline
.widget-timeline {
  // vertical items li
  .timeline-items {
      padding: 1.1rem 0;
      list-style: none;
      position: relative;
      
      // timeline title
      .timeline-title {
        line-height: 1.2;
        font-family: $font-family-monospace;
        font-weight: 500;
      }
    
      // timeline subtitle
      .timeline-subtitle {
        margin-bottom: .5rem;
        color: $light;
        font-size: 13px;
      }
    
      // time-line time
      .timeline-time {
        float: right;
        color: $light;
        font-size: .9rem;
      }
      
      &:last-child{
        padding-bottom: 0;
      }

      // excluding last child after, styles for vertical line
      &:not(:last-child):after {
        position: absolute;
        content: '';
        width: 1px;
        background: $timeline-color;
        left: -31px;
        top: 22px;
        height: 100%;
      }

      // timline items:before 
      &:before {
        position: absolute;
        content: '';
        left: -37px;
        top: 17px;
        box-shadow: 1px 2px 6px 0 rgba(25, 42, 70, .3);
        border-radius: 50%;
        background-color: $primary;
        height: 13px;
        width: 13px;
        z-index: 2;
    }
  }
}